/* 
    Created on : 26-Oct-2015, 9:25:17 PM
    Author     : Rene Ramirez <rene.ramirez@fersz.com>
*/

@import "../less_imports/variables.less";
@import "../less_imports/mixins.less";
@import "../less_imports/normalize.less";
@import "../less_imports/utilities.less";



html,body{
  color: @text-color;
  font-size: @font-size-base;
  line-break: @line-height-base;
  line-height: 2em;
  height: 100%;
  font-family: @font-family-sans-serif;
  font-weight: normal;
}
body{
  background: @body-bg url(../img/texture.jpg);
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid lighten(@gray-light,30%);
  margin: 1em 0;
  padding: 0; 
}
h1,h2,h3,h4{
  color: lighten(@color-primary,15%);
  margin: 10px 0;
}
h1{
  font-size: @font-size-large*1.2;
}
h2{
  font-size: @font-size-large;
}
h3{
  font-size: @font-size-large*0.80;
}
h4{
  font-size: @font-size-large*0.70;
}
a{
  text-decoration: none;
  color: @color-secondary;
  &:hover{
    color: darken(@color-secondary,10%);
    img{
      -webkit-filter: brightness(2); filter: brightness(2);
    }
  }
}
.container{
  max-width: 1190px;
  background: white;
  margin: 0 @padding-base-horizontal;
  .center-block();
}
/* HEADER */
.navbar-flex {
  margin: 0;
  padding-left: 0; 
  background-color: @color-primary;
  .navbar-flex-nav{
    border: 1px sold blaclk;
    list-style: none;
    margin: 0;
    padding: 0;
    .flex();
    > li{
      flex: 1 1 100%;
      text-align: center;
      padding-bottom: @padding-base-horizontal+4px;
      padding-top: @padding-base-horizontal*2-1px;
      border-bottom: @border-radius-small solid transparent;
      > a {
        display: block;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
      }
      &:hover, &.active{
        background-color: #3d4751;
        border-bottom-color: #52a1d2;
        > a:hover{

        }
      }
    }
  }
}
.img-responsive{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand {
  padding: @padding-base-vertical @padding-base-horizontal;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  color: @text-color;
  text-align: center;
  .img-responsive{
    width: 70%;
  }
  &:hover,
    &:focus {
    color: @gray-light;
    background-color: transparent;
  }
}

.wrapper {
  .flex();  
  > aside{
    background: @gray-lighter;
    flex: 1;
    padding: 0 @padding-base-horizontal*2;
    h1,h2,h3,h4{
      color: lighten(@color-secondary,15%);
      margin: 10px 0;
    }
    .event{
      text-align: center;
    }
    .location{
      color: lighten(@color-secondary,15%);
      margin:  @padding-base-horizontal*2 0;
      padding: 0 @padding-base-horizontal*4;
    }
    .social{
      text-align: center;
    }
  }
  > main{
    flex: 3;
    section{
      display: block;
      padding: @padding-base-vertical @padding-base-horizontal*6;
      margin: @padding-base-vertical*5 0;
    }
  }
}
pre{
  background: #eee;
  font-size: 0.9em;
  line-height: 120%;
  margin: 10px 0px;
  overflow: auto;
  font-family: Courier, monospace !important;
  overflow-x: auto;
  color: #333;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #efeee6;
  border-radius: 3px;
  display: block;
  code.gp{
    color: #009900;
    font-weight: bold;
    display: inline;
    border: 0px;
    background: #eee;
    overflow: auto;
  }
}
form{
  label, input, select, textarea{
    display: block;
    width: 100%;
  }
  label{
    margin-top: 20px;
  }

  input[type=text], textarea, input[type=tel] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    padding: 8px 3px;
  }

  input[type=text]:focus,input[type=tel]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 8px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }

  .action{
    text-align: right;
  }
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: @color-secondary;
  color:white;
  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

footer{
  background: @gray-dark;
  border-bottom: 4px solid @gray-light;
  .navbar-flex {
    background-color: transparent;
  }
  a:hover img{
    -webkit-filter: brightness(100); filter: brightness(100);
  }
  .img-white{
    height: 55px;
    width: 55px;
  }
}
.img-white{
  -webkit-filter: brightness(100); filter: brightness(100);
}
div{
  .reference{
    text-align: right;
    a{
      display: inline-block;
      margin: 4px 10px;
      padding: 4px 10px;
      border: 1px solid @color-secondary;
      border-radius: @border-radius-small;
      &:hover{
        color: white;
        background: @color-secondary;
      }
    }
  }
}