/* 
    Created on : 26-Oct-2015, 9:25:17 PM
    Author     : Rene Ramirez <rene.ramirez@fersz.com>
*/

@import "../less_imports/variables.less";
@import "../less_imports/mixins.less";
@import "../less_imports/normalize.less";
@import "../less_imports/utilities.less";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body{
  color: @text-color;
  font-size: @font-size-base;
  line-break: @line-height-base;
  line-height: 2em;
  height: 100%;
  font-family: @font-family-sans-serif;
  font-weight: normal;

}
body{
  background: @body-bg;
  background: #e9e9e9 url(../img/texture.jpg);
}

h1,h2,h3{
  color: lighten(@color-primary,15%);
  margin: 10px 0;
}

h2{
  font-size: @font-size-large;
}


.container{
  max-width: 1190px;
  background: white;
  margin: 0 @padding-base-horizontal;
  .center-block();
}
/* HEADER */
.navbar-flex {
  margin: 0;
  padding-left: 0; 
  background-color: @color-primary;
  .navbar-flex-nav{
    border: 1px sold blaclk;
    list-style: none;
    margin: 0;
    padding: 0;
    .flex();
    > li{
      flex: 1 1 100%;
      text-align: center;
      padding-bottom: @padding-base-horizontal+4px;
      padding-top: @padding-base-horizontal*2-1px;
      border-bottom: @border-radius-small solid transparent;
      > a {
        display: block;
        text-decoration: none;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
      }
      &:hover, &.active{
        background-color: #3d4751;
        border-bottom-color: #52a1d2;
        > a:hover{

        }
      }
    }
  }
}
.img-responsive{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand {
  padding: @padding-base-vertical @padding-base-horizontal;
  display: block;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: @text-color;
  text-align: center;
  .img-responsive{
    width: 70%;
  }
  &:hover,
    &:focus {
    color: @gray-light;
    background-color: transparent;
    text-decoration: none;
  }
}

.wrapper {
  .flex();  
  > aside{
    background: @gray-lighter;
    flex: 1;
    padding: 0 @padding-base-horizontal;
  }
  > main{
    flex: 3;
    section{
      display: block;
      padding: @padding-base-vertical @padding-base-horizontal*6;
      margin: @padding-base-vertical*5 0;
    }
  }
}

